html, body, header, main, article, section, footer, figure, img, figcaption, h1, h2, p, button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

}

figcaption {
    display: none;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 1rem;
}

body header {}

body main {
    display: flex;
    flex-direction: column;
}
body main h1 {
    margin-bottom: 1rem;
    text-align: center;
}
body main section#instruções {
    text-align: center;

}
body main section#instruções p {
    margin-bottom: 1rem;
    text-align: center;
}
#sorte {
    font-weight: bold;
    text-transform: uppercase;
}

body main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    text-align: center;
}
body main article h2 {
    margin-bottom: 1rem;
}
#escolha {
    margin-bottom: 1rem;
}
body main article figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seçãoPC {
    position: relative;
}
#usuário img {
    margin-bottom: 1rem;
}
#usuário img:hover {
    cursor: pointer;
}

#computador img {
    display: none;
}

body section#resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
body section#resultado h3 {
    border-radius: 1rem;;
    color: #FFF;
    display: none;
    margin-bottom: 1rem;
    padding: 1rem;
}
#vitoriaUsuario {
    background-color: #0F0;
}
#vitoriaPC {
    background-color: #F00;
}
#empate {
    background-color: #000;
}
body section#resultado button  {
    display: none;
    margin-bottom: 1rem;
}
body section#resultado button {
    background-color: #777;
    border: none;
    border-radius: 0.5rem;
    height: 35px;
    width: 180px;
}
body section#resultado button:hover {
    background-color: #AAA;
    cursor: pointer;
    font-weight: bold;
}

body footer {
    margin-top: 1rem;
    text-align: center;
}



@media (min-width: 376px) {

    body main section#instruções {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #sorte::before {
        color: #FFF;
        content: ', ';
    }
    
    body main article {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 1rem;
    }

    
    body main article figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #usuário img {
        margin-bottom: 0;
    }
    #escolha {
        display: none;
    }

    #pc {
        position: absolute;
        bottom: 13rem;
        right: 6rem;
    }

}

